.about{
    display: flex;
    margin: 0 auto;
}

.aboutUs{
    display: flex;
    flex-direction: column;
    margin-left:  100px;
    justify-content: center;
    gap: 30px;
}

.about__img{
    width: 735px;
    height: 571px;
}

.aboutUs__tittle{
    font-family: $mainFont;
    font-weight: 900;
    font-size: $font-size_h2;
    color: $primary-text-color;
}

.aboutUs__text{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 31px;
    color: $primary-text-color;
}

.aboutUs__more{
    text-decoration: none;
    font-family: $textFont;
    font-weight: 600;
    font-size: 24px;
    color: $primary-text-color;
}

.aboutUs__more:hover{
    color: rgb(150, 207, 240);
}

@media (426px <= width <= 1024px){
    .about{
    display: flex;
    /* border: 1px rgb(0, 110, 255) solid; */
    margin: 0 auto;
    flex-direction: column;
    
}

.about__img{
    width: auto;
    height: auto;
}
}

@media (320px <= width <= 425px){
    .about{
    display: flex;
    /* border: 1px rgb(0, 255, 115) solid; */
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.about__img{
    width: auto ;
    height: auto;
}
}