/*main font*/

@font-face {
  font-family: "InterRegular";
  src: url(../../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "DisplayRegular";
  src: url(../../fonts/PlayfairDisplay-Regular.ttf);
}

/*headers*/

@font-face {
  font-family: InterBlack;
  src: url(../../fonts/Inter-Black.ttf);
}

@font-face {
  font-family: DisplayBlack;
  src: url(../../fonts/PlayfairDisplay-Black.ttf);
}
