@import "variables.scss";
@import "header_solution.scss";
@import "services_block.scss";
@import "about_block.scss";
@import "projects_block.scss";
@import "testimonial_block.scss";
@import "footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.main,
.footer {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: $mainFont;
  font-size: $font-size_h2;
  color: $primary-text-color;
  font-weight: 900;
}
