.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5% 1fr;
  grid-template-areas:
    "topline topline topline"
    "planner-icon interior-icon exterior-icon"
    "planner interior exterior"
    "serv-bottomline serv-bottomline serv-bottomline";
  width: 100%;
  height: 50%;
  justify-items: center;
  align-items: center;
  background: $services-background;
  color: $primary-text-color;
  font-family: $textFont;
  padding-bottom: 6%;
}
.serv-topline {
  grid-area: topline;
}
.planner-icon {
  grid-area: planner-icon;
}
.interior-icon {
  grid-area: interior-icon;
}
.exterior-icon {
  grid-area: exterior-icon;
}
.services a {
  text-decoration: none;
  box-shadow: none;
  font-size: 27px;
  font-weight: 600;
  color: #2f2e2e;
  font-family: $mainFont;
}

.services a:hover {
  text-decoration: underline;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.planner {
  grid-area: planner;
}
.interior {
  grid-area: interior;
}
.exterior {
  grid-area: exterior;
}
.serv-bottomline {
  grid-area: serv-bottomline;
  width: 11%;
  height: 6%;
  text-align: center;
}
.box1 {
  justify-self: start;
  margin-left: 11%;
}
.box3 {
  justify-self: end;
  margin-right: 11%;
}
/* $tablet */
@media screen and (max-width: $tablet) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "topline topline"
      "planner-icon planner"
      "interior-icon interior"
      "exterior-icon exterior";
    background: $services-background;
  }
  .serv-topline {
    grid-area: topline;
  }
  .planner-icon {
    grid-area: planner-icon;
  }
  .interior-icon {
    grid-area: interior-icon;
  }
  .exterior-icon {
    grid-area: exterior-icon;
  }
  .services a {
    text-decoration: none;
    box-shadow: none;
    color: #2f2e2e;
  }
  .services a:hover {
    text-decoration: underline;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .planner {
    grid-area: planner;
  }
  .interior {
    grid-area: interior;
  }
  .exterior {
    grid-area: exterior;
  }
  .serv-bottomline {
    display: none;
  }
}
/* $mobile */
@media screen and (max-width: $mobile) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "topline"
      "planner"
      "interior"
      "exterior";
    column-width: 100%;
    font-size: 30px;
  }
  .serv-topline {
    grid-area: topline;
  }
  .planner-icon {
    display: none;
  }
  .interior-icon {
    display: none;
  }
  .exterior-icon {
    display: none;
  }
  .services a {
    text-decoration: none;
    box-shadow: none;
    color: #2f2e2e;
  }
  .services a:hover {
    text-decoration: underline;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .planner {
    grid-area: planner;
  }
  .interior {
    grid-area: interior;
  }
  .exterior {
    grid-area: exterior;
  }
  .serv-bottomline {
    display: none;
  }
}
