.testimonial{
    display: flex;
    width: 1440px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 50px;
}

.testimonial__tittle{
    font-family: $mainFont;
    font-weight: 900;
    font-size: $font-size_h2;
    text-align: center;
    color: $testimonial-color;
}

.testimonial__wapper{
    display:flex;
}

.testimonial__ellipse{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.testimonial__wapper__block{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.wapper_img{
    width: 151px ;
    height: 151px;
    margin:  10px;
}

.block{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr ;
    float: right;
    width: 543px;
    height: 171px;
    margin: 10px;
}

.block_tittle{
    font-family: $mainFont;
    font-weight: 700;
    font-size: 28px;
    color: $primary-text-color;
}

.block_text{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 17px;
    color: $primary-text-color;
}

@media (426px <= width <= 1024px){
    .testimonial__wapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .testimonial{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content:start;
        }
}

@media (0 <= width <= 425px){
    .testimonial__wapper{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wapper_img{
        display: none;
    }
}