/* colors */
$primary-text-color: #2f2e2e;
$footer-color: #fafafa;
$footer-background: #2e2f32;
$services-background: #254d4d33;
$dots-color: #c4c4c4;
$services-icons-color: #254d4d;
$testimonial-color: #000;

/* fonts */
$textFont: "Inter", sans-serif;
$mainFont: "Playfair Display", serif;
$font-size_link: 20px;
$font-size_h2: 51px;

/* adaptive */
$mobile: 425px;
$tablet: 768px;
