/* colors */

$primary-color: #2f2e2e;
$footer-color: #fafafa;
$footer-background: #2e2f32;

/* fonts */
$textFont: InterRegular;
$mainFont: DisplayRegular;
$font-size_links: 20px;
$font-size_h2: 51px;
